/* .port-grid {
    margin: 0 auto;
    padding: 20px;
} */
.row-portfolio {
    max-width: 114rem;
    margin: 0 auto; 
}

.row-portfolio:not(:last-child) {
    margin-bottom: 8rem; }
  
.row-portfolio::after {
    content: "";
    display: table;
    clear: both; }
  
.row-portfolio [class^="col-"] {
    float: left; }
    
.row-portfolio [class^="col-"]:not(:last-child) {
    margin-right: 3rem; }
  
.row-portfolio .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }

.card {
    perspective: 100rem;
    -moz-perspective: 100rem;
    position: relative;
    height: 40rem;
    margin-bottom: 15px;
    
}

.card__side {
    height: 40rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
}

.card__side--front{
    background-color: beige;
    color: black;
}

.card__side--back {
    transform: rotateY(180deg);
}

.card__side--back-1 {
    background-image: linear-gradient(to right bottom, 
    #6fd5bf, rgb(6, 53, 85));
}

.card:hover .card__side--front {
    transform: rotateY(-180deg);
}

.card:hover .card__side--back {
    transform: rotateY(0);
}

.card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(100% 0, 100% 92%, 51% 70%, 0 92%, 0% 0%);
    clip-path: polygon(100% 0, 100% 92%, 51% 70%, 0 92%, 0% 0%);
    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);  */
}

/* CARD IMAGES */
.card__picture--travel {
    background-image: linear-gradient(to right bottom, #6fd5bf, #ff7730), url(../images/travel.jpg); }

.card__picture--liribot {
    background-image: linear-gradient(to right bottom, #6fd5bf, #ff7730), url(../images/bot.png); }

.card__picture--burger {
    background-image: linear-gradient(to right bottom, #6fd5bf, #ff7730), url(../images/burger.png); }

.card__picture--train {
    background-image: linear-gradient(to right bottom, #6fd5bf, #ff7730), url(../images/train.gif); }

.card__picture--crystal {
    background-image: linear-gradient(to right bottom, #6fd5bf, #ff7730), url(../images/crystal2.png); }

.card__picture--cinema {
    background-image: linear-gradient(to right bottom, #6fd5bf, #ff7730), url(../images/Cinema.png); }

.card__picture--fruit {
    background-image: linear-gradient(to right bottom, #6fd5bf, #ff7730), url(../images/triviafruit.png); }

.card__picture--hangman {
    background-image: linear-gradient(to right bottom, #6fd5bf, #ff7730), url(../images/hangman.png); }

.card__picture--explore {
    background-image: linear-gradient(to right bottom, #6fd5bf, #ff7730), url(../images/Travel.png); }

.card__picture--bamazon {
    background-image: linear-gradient(to right bottom, #6fd5bf, #ff7730), url(../images/storefront.png); }

.card__picture--slaytag {
    background-image: linear-gradient(to right bottom, #6fd5bf, #ff7730), url(../images/price-cut.png); }

/* -----------------------------END CARD IMAGES--------------------------------------- */
.card__heading {
    font-weight: 300;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; 
}
.card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    
.card__heading-span--1 {
    background-image: linear-gradient(to right bottom,
     rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }


.card__details {
    padding: 3.2rem; }
    
.card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
     
.card__details {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem; }
        
.card__details ul li:not(:last-child) {
    border-bottom: 1px solid #f7f7f7; }
  
.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; 
}
  
.card__project-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8.5rem;
}
  
.card__project-overview {
    font-size: 2rem;
    text-transform: uppercase; 
}
  
.card__project-text {
    font-size: 1.4rem;
    font-weight: 100; 
}