@media screen and (min-width: 1366px) and (max-width: 1919px){}

/* Normal Desktop */
@media (min-width: 992px) and (max-width: 1197px){
    .slider-content{
        width: 619px;
    }
}

/* Normal Desktop */
@media (min-width: 768px) and (max-width: 991px) {
    .slider-content{
        height: 480px;
    }

    .about-area {
        padding: 9rem 0rem 8rem;
    }

    .portfolio-area {
        padding: 0rem 0rem 5rem;
    }

    .contact-area {
        padding: 8rem 0rem 3rem;
    }

    .social-link a.btn{
        padding: 1rem;
        margin: .3rem;
    }

    .prt-item a img{
        width: 2.5rem;
        margin-left: 0;
    }
}



/* Small Mobile :320px */
@media (max-width: 767px) {
    .section {
        width: 100%;
        
    }
    .header__text-box{
    top: 53%;
    }
    .container {
        width: 100%;
    }
    .header-area{
        padding: 1rem 0rem .3rem;
        margin-right: 2rem;
    }
    .prt-item a img{
        width: 2rem;
        margin-left: 0;
    }
    .section-tittle h2 {
        margin-top: 3rem;
    }
    .svg_grey svg{
        margin-top: 1.5rem;
    }
}

/* Large Mobile 480px */
/* @media only screen and (min-width: 480px) and (max-width: 767px){
    .about-area{
        padding: 8rem 0 6rem;
    }
} */

/* iPhone X */
@media (min-width: 240px) and (max-width: 479px) {
    .header-area {
        padding: 0;
        width: 56%;
    }
    .header__text-box{
        width: 100%;
        margin-right: 1rem;
        padding: 1rem;
    }
    .abt-left-thumb{
        padding: 2rem;
    }
    .abt-content{
        padding: 2rem 1rem 0 0;
    }
  
    .skills-area{
        padding-right: 2rem;
    }
    .portfolio-area{
        padding: 2rem 0rem 5rem;
        margin-right: 2rem;
    }
    .cnt-form{
        width: 90%;
        padding: 2rem;
    }
    .footer-area{
        padding: 1.8rem;
        margin-right: 2rem;
    }
}