*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* 10px = 1rem (it's good for mobile responsive)*/
html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: beige;
    /* padding: 2rem; */
    box-sizing: border-box;
    background-color: rgb(1, 36, 41);
}

.fab {
    color: white;
}
.header-area{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    background: linear-gradient(to right bottom, 
    #6fd5bf, rgb(6, 53, 85));
}
.logo a{
    display: inline-block;
    padding: 0;
}

.navbar-light .navbar-brand img{
    box-shadow: 0 0 rgba(255, 120, 48, 0.325), 0 0 rgba(255, 120, 48, 0.325), 0 0 rgba(255, 120, 48, 0.325), 0 0 rgba(255, 120, 48, 0.325), 0 0 rgba(255, 120, 48, 0.479), 0 0 rgba(255, 120, 48, 0.325);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    
}

.navbar-light .navbar-brand img:hover{
    box-shadow: -1px 1px rgba(255, 120, 48, 0.325), -2px 2px rgba(255, 120, 48, 0.325), -3px 3px rgba(255, 120, 48, 0.325), -4px 4px rgba(255, 120, 48, 0.325), -5px 5px rgba(255, 120, 48, 0.325), -6px 6px rgba(255, 120, 48, 0.325);
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
}

/* NAVBAR */

#nav-style {
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    margin-left: .8rem;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);  
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 120, 48, 0.705);
    text-shadow: 1px 2px 2px 2px grey; 
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}


/* ABOUT AREA */
.about-area {
    padding: 1rem 0rem 5rem;
}

.abt-left-thumb{
    display: block;
    position: relative;
    z-index: 1;
    box-shadow: 0rem 0rem 2.1rem grey;
}

.abt-letf-thumb:before{
    content: '';
    position: absolute;
    right: -4.5rem;
    left: -4.5rem;
    border: .2rem solid white;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 0rem 0rem 3rem 0rem;
}

.abt-left-thumb img{
    border-radius: .4rem;
    overflow: hidden;
    max-width: 100%;
}

@media (max-width: 479px) and (min-width: 240px){
    .abt-left-thumb {
    padding: 0 !important;
}

.section-tittle h2{
    font-family: 'Russo One', sans-serif;
    font-size: 2.9rem;
    letter-spacing: 1.5px;
    line-height: 3rem;
    margin-bottom: 5rem;
    padding-bottom: 1.6rem;
    position: relative;
    margin-top: 3rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
    margin: 0;
    letter-spacing: 0;
}

.section-tittle h2:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: grey;
}

.section-tittle h2:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 255px;
    background-color: grey;
}

.abt-content p{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 2rem;
}

.social-link{
    display: inline-block;
    margin-top: 1.1rem;
}
.social-link h5{
    display: inline-block;
    font-size: 1.6rem;
    letter-spacing: 0;
    font-weight: 600;
    color: #6fd5bf;
    border-bottom: 1px solid #6fd5bf;
    margin-right: 1.6rem;
}

/* SKILLS AREA */

.skills-area{
    padding: 1rem 0rem 5rem;
    text-align: center;
}

.txt_show{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 2px;
    text-shadow: 1px 2px 2px  #777;
    font-family: 'Marcellus', serif;

}

img {
    width: 5rem;
    height: auto;
    margin: 1rem;
}

.icon {
    padding: .5rem;
}
.icon-img {
    -webkit-filter: drop-shadow(3px 3px 3px #4e4e4e);
    filter: drop-shadow(2px 2px 2px 1px #6fd5bf); 
}

/* CONTACT AREA */
.contact-area {
    position: relative;
    border-top: 2px solid grey;
}
.contact-area
.section-tittle {
    margin-top: 3rem;
    margin-bottom: 6rem;
}
.cnt-left ul li {
    font-size: 1.7rem;
    color: whitesmoke;
    letter-spacing: 0;
    line-height: 2.3rem;
    margin-bottom: 1.3rem;
    font-weight: 500;
    margin-left: 2rem;
}
.cnt-left ul li span {
    display: block;
}
.cnt-left .social-link {
    margin-top: 3.2rem;
}
.cnt-form form input,
.cnt-form form textarea {
    height: 34px;
    width: 100%;
    /* background: #fff; */
    border: none;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 2rem;
    letter-spacing: 0;
    font-size: 1.3rem;
}
.cnt-form form textarea {
    height: 8.7rem;
}
.cnt-form form button {
    background: whitesmoke;
    /* color: #222; */
    border: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .9rem 2.5rem;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

.cnt-form form textarea{
   height: 87px;
}
.cnt-form form .form-submit{
   text-align: right;
}
.cnt-form form button i {
    margin-left: .8rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.cnt-form form button:hover i {
    -webkit-transform: translateY(-.5rem);
    -ms-transform: translateY(-.5rem);
    -o-transform: translateY(-.5rem);
    transform: translateY(-.5rem);
}

/* FOOTER */
.footer-area{
    padding: 18px 0px;
    position: relative;
}

.copyright {
    text-align: right;
}

.copyright p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    color: #898989;
}

.ft-logo a img{
    max-width: 50px;
}

.copyright p span{
    display: inline-block;
    color: rgb(37, 136, 153);
 }
 
 