*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* 10px = 1rem (it's good for mobile responsive)*/
html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.863);
    /* padding: 2rem; */
    box-sizing: border-box;
    background-color: rgba(15, 15, 15);
}

.fab {
    color: white;
}
.header-area{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    background: linear-gradient(to right bottom, 
    #6fd5bf, rgb(6, 53, 85));
}
.logo a{
    display: inline-block;
    padding: 0;
}

/* NAVBAR */
.main-menu nav ul{
    text-align: right;
}
.main-menu nav ul li{
    display: inline-block;
}
.main-menu nav ul li a{
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 0 1rem;
    position: relative;
}
.navigation li a:link {
    text-decoration: none;
    text-transform: uppercase;
}


/* PORTFOLIO AREA */
.skills-area{
    margin: 2rem;
    padding: 1rem;
    text-align: center;
}

img {
    width: 5rem;
    height: auto;
    margin: 1rem;
    margin-left: 35px;
}

.icon {
    padding: .5rem;
    /* background-color: rgba(6, 53, 85, 0.555); */
    /* background: linear-gradient(to right bottom, 
     rgba(16, 202, 202, 0.555), #505050de);
    border-radius: 1.2rem; */
}

.prt-item {
    padding: .5rem;
    /* background-color: rgba(105, 105, 105, 0.466); */
    background: linear-gradient(to right bottom, 
    #6fd5bfde, rgba(6, 53, 85, 0.555));
    margin-block-start: 1.5em;
    margin-block-end: 1rem;
    border-radius: 1.2rem;
    /* margin-inline-start: 1rem; */
}

.txt_show {
    font-size: 3rem;
}
.txt-wrap {
    font-size: 1.8rem;
}

/* CONTACT AREA */
.contact-area {
    position: relative;
    border-top: 2px solid grey;
}
.contact-area
.section-tittle {
    margin-top: 3rem;
    margin-bottom: 6rem;
}
.cnt-left ul li {
    font-size: 1.4rem;
    color: whitesmoke;
    letter-spacing: 0;
    line-height: 2.3rem;
    margin-bottom: 1.3rem;
    font-weight: 500;
    margin-left: 2rem;
}
.cnt-left ul li span {
    display: block;
}
.cnt-left .social-link {
    margin-top: 3.2rem;
}
.cnt-form form input,
.cnt-form form textarea {
    height: 34px;
    width: 100%;
    /* background: #fff; */
    border: none;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 2rem;
    letter-spacing: 0;
    font-size: 1.3rem;
}
.cnt-form form textarea {
    height: 8.7rem;
}
.cnt-form form button {
    background: whitesmoke;
    /* color: #222; */
    border: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .9rem 2.5rem;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

.cnt-form form textarea{
   height: 87px;
}
.cnt-form form .form-submit{
   text-align: right;
}
.cnt-form form button i {
    margin-left: .8rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.cnt-form form button:hover i {
    -webkit-transform: translateY(-.5rem);
    -ms-transform: translateY(-.5rem);
    -o-transform: translateY(-.5rem);
    transform: translateY(-.5rem);
}

/* FOOTER */
.footer-area{
    padding: 18px 0px;
    position: relative;
}

.copyright {
    text-align: right;
}

.copyright p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    color: #898989;
}

.ft-logo a img{
    max-width: 50px;
}

.copyright p span{
    display: inline-block;
    color: rgb(37, 136, 153);
 }
 
 